h1{
    color: blue;
    cursor: pointer;
    transition: 0.2s;
}

h1:hover{
    color: red;
    letter-spacing: 2px;
}

img{
    width: 4cm;
    border-radius: 50%;
    box-shadow: 1px 1px 4px gray;
    padding: 5px;
    background: white;
    margin: 15px;
    transition: 0.2s;
    opacity: 75%;
    width: 4cm;
    height: 4cm;
    object-fit: cover;
}

img:hover{
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 1px 1px 6px red;
}