h1{
    color: blue;
    cursor: pointer;
    transition: 0.2s;
}

h1:hover{
    color: red;
    letter-spacing: 2px;
}

img{
    width: 4cm;
    border-radius: 50%;
    box-shadow: 1px 1px 4px gray;
    padding: 5px;
    background: white;
    margin: 15px;
    transition: 0.2s;
    opacity: 75%;
    width: 4cm;
    height: 4cm;
    object-fit: cover;
}

img:hover{
    transform: scale(1.2);
    opacity: 100%;
    box-shadow: 1px 1px 6px red;
}

table{
    border-collapse: collapse;
    width: 80%;
}

td, th{
    border: 1px solid #dddddd;
    padding: 8px;
}

td:first-child{
    text-align: center;
}

.judul{
    text-align: center;
    font-size: 28px;
}

.judul-tabel{
    background-color: whitesmoke;
}

.tengah{
    text-align: center;
}

.tombol{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

.tombol:hover{
    background-color: #45a049;
}

a{
    text-decoration: none;
}

td:hover{
    background-color: #dddddd;
}
