@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

.judul-form{
    text-align: center;
    font-size: 28px;
}

form{
    margin-top: 20px;
}

label{
    margin-bottom: 10px;
}

input[type=text], input[type=email], select{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

.pembungkus-form{
    margin-left: 50px;
    margin-right: 50px;
}

.tengah{
    text-align: center;
}

.tombol{
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    text-decoration: none;
    margin-left: 10px;
}

.tombol:hover{
    background-color: #45a049;
}